<div class="row mt-3">
    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card">
            <div class="card-header">
                <div>#{{detailProject.projectID}}</div>
                <h5>{{detailProject.projectName}}</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>Date Of Start</th>
                            <td>{{detailProject.dateOfStart}}</td>
                        </tr>
                        <tr>
                            <th>Team Size</th>
                            <td>
                                <span>{{detailProject.teamSize}} </span>
                                <span class="text-info">{{detailProject.teamSize | numberToWords : ' and '}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Client Location</th>
                            <td>{{(detailProject.clientLocation != null) ? detailProject.clientLocation.clientLocationName : ''}}</td>
                        </tr>
                        <tr>
                            <th>IsActive</th>
                            <td>{{detailProject.active}}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{detailProject.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-info text-white" [routerLink]="['/admin', 'projects']">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>