<h1>About Page</h1>
<div>
    <h3 class="text-secondary text-uppercase fw-semibold text-center">How We Are</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="assets/aboutOne.jpg" class="card-img-top" alt="AboutOne">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam odit tempora et 
                        ea impedit provident dolores architecto voluptatibus beatae sequi. Laudantium iusto
                        quis dicta doloremque.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/aboutTwo.jpg" class="card-img-top" alt="aboutTwo">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                    <p class="card-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, 
                        tenetur? Dolorem illo ullam incidunt nobis quo est, eius minima esse
                        autem id illum, reiciendis mollitia delectus omnis praesentium ad alias.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis eaque 
                        nam repudiandae.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/aboutThree.jpg" class="card-img-top" alt="aboutThree">
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum dolor.</h5>
                    <p class="card-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, 
                        tenetur? Dolorem illo ullam incidunt nobis quo est, eius minima esse
                        autem id illum, reiciendis mollitia delectus omnis praesentium ad alias.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/aboutFour.jpg" class="card-img-top" alt="aboutFour">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                    <p class="card-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, 
                        tenetur? Dolorem illo ullam incidunt nobis quo est, eius minima esse
                        autem id illum, reiciendis mollitia delectus omnis praesentium ad alias.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, labore.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>