<h1>Edit Task</h1>
<form [formGroup]="editTaskForm" novalidate="novalidate" (ngSubmit)="onSubmitTaskEdit()">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label for="taskTitle" class="text-info" style="font-size:18px">Task Title:</label>
                <input type="text" class="form-control" id="taskTitle" placeholder="Task Title"
                    formControlName="taskTitle" style="font-size:20px" autofocus="autofocus"
                    [ngClass]="{ 'is-invalid': editTaskForm.get('taskTitle')?.invalid && (editTaskForm.get('taskTitle')?.dirty || editTaskForm.get('taskTitle')?.touched || editTaskForm.submitted),
                    'is-valid': editTaskForm.get('taskTitle')?.valid && (editTaskForm.get('taskTitle')?.dirty || editTaskForm.get('taskTitle')?.touched || editTaskForm.submitted) }">

                <div class="text-danger"
                    *ngIf="editTaskForm.get('taskTitle')?.invalid && (editTaskForm.get('taskTitle')?.dirty || editTaskForm.get('taskTitle')?.touched || editTaskForm.submitted) && editTaskForm.get('taskTitle')?.errors?.['required']">
                    Task Title can't be blank
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="description" class="text-info">Description:</label>
                <textarea class="form-control" id="description" placeholder="Description" formControlName="description">
                </textarea>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group form-row">
                <label for="projectID" class="text-info col-md-3 col-form-label">Project:</label>
                <div class="col-md-9">
                    <select class="form-control" id="projectID" formControlName="projectID"
                        [ngClass]="{ 'is-invalid': editTaskForm.get('projectID')?.invalid && (editTaskForm.get('projectID')?.dirty || editTaskForm.get('projectID')?.touched || editTaskForm.submitted),
                    'is-valid': editTaskForm.get('projectID')?.valid && (editTaskForm.get('projectID')?.dirty || editTaskForm.get('projectID')?.touched || editTaskForm.submitted) }">
                        <option value="null" disabled>Please Select</option>
                        <option *ngFor="let project of projects | async" [value]="project.projectID">
                            {{project.projectName}}
                        </option>
                    </select>

                    <div class="text-danger"
                        *ngIf="editTaskForm.get('projectID')?.invalid && (editTaskForm.get('projectID')?.dirty || editTaskForm.get('projectID')?.touched || editTaskForm.submitted) && editTaskForm.get('projectID')?.errors?.['required']">
                        Please select project, to which the task belongs to.
                    </div>
                </div>
            </div>

            <div class="form-group form-row">
                <label for="assignedTo" class="text-info col-md-3 col-form-label">Assigned To:</label>
                <div class="col-md-9">
                    <select class="form-control" id="assignedTo" formControlName="assignedTo"
                        [ngClass]="{ 'is-invalid': editTaskForm.get('assignedTo')?.invalid && (editTaskForm.get('assignedTo')?.dirty || editTaskForm.get('assignedTo')?.touched || editTaskForm.submitted),
                    'is-valid': editTaskForm.get('assignedTo')?.valid && (editTaskForm.get('assignedTo')?.dirty || editTaskForm.get('assignedTo')?.touched || editTaskForm.submitted) }">
                        <option value="null" disabled>Please Select</option>
                        <option [value]="employee.id" *ngFor="let employee of employees | async">
                            {{employee.userName}}
                        </option>
                    </select>

                    <div class="text-danger"
                        *ngIf="editTaskForm.get('assignedTo')?.invalid && (editTaskForm.get('assignedTo')?.dirty || editTaskForm.get('assignedTo')?.touched || editTaskForm.submitted) && editTaskForm.get('assignedTo')?.errors?.['required']">
                        Please select the employee, to whom the task id assigned.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group form-row">
                <label for="taskPriorityID" class="text-info col-md-3 col-form-label">Priority:</label>
                <div class="col-md-9">
                    <select class="form-control" id="taskPriorityID" formControlName="taskPriorityID"
                        [ngClass]="{ 'is-invalid': editTaskForm.get('taskPriorityID')?.invalid && (editTaskForm.get('taskPriorityID')?.dirty || editTaskForm.get('taskPriorityID')?.touched || editTaskForm.submitted),
                    'is-valid': editTaskForm.get('taskPriorityID')?.valid && (editTaskForm.get('taskPriorityID')?.dirty || editTaskForm.get('taskPriorityID')?.touched || editTaskForm.submitted) }">
                        <option value="null" disabled>Please Select</option>
                        <option [value]="taskPriority.taskPriorityID"
                            *ngFor="let taskPriority of taskPriorities | async">
                            {{taskPriority.taskPriorityName}}
                        </option>
                    </select>

                    <span class="text-danger"
                        *ngIf="editTaskForm.get('taskPriorityID')?.invalid && (editTaskForm.get('taskPriorityID')?.dirty || editTaskForm.get('taskPriorityID')?.touched || editTaskForm.submitted) && editTaskForm.get('taskPriorityID')?.errors?.['required']">
                        Please select the priority of the task.</span>
                </div>
            </div>

            <div class="form-group form-row">
                <label for="currentTaskStatusID" class="text-info col-md-3 col-form-label">Status:</label>
                <div class="col-md-9">
                    <select class="form-control" id="currentTaskStatusID" formControlName="currentTaskStatusID"
                        [ngClass]="{ 'is-invalid': editTaskForm.get('currentTaskStatusID')?.invalid && (editTaskForm.get('currentTaskStatusID')?.dirty || editTaskForm.get('currentTaskStatusID')?.touched || editTaskForm.submitted),
                    'is-valid': editTaskForm.get('currentTaskStatusID')?.valid && (editTaskForm.get('currentTaskStatusID')?.dirty || editTaskForm.get('currentTaskStatusID')?.touched || editTaskForm.submitted) }">
                        <option value="null" disabled>Please Select</option>
                        <option [value]="taskStatus.taskStatusID"
                            *ngFor="let taskStatus of taskStatuses | async">
                            {{taskStatus.taskStatusName}}
                        </option>
                    </select>

                    <span class="text-danger"
                        *ngIf="editTaskForm.get('currentTaskStatusID')?.invalid && (editTaskForm.get('currentTaskStatusID')?.dirty || editTaskForm.get('currentTaskStatusID')?.touched || editTaskForm.submitted) && editTaskForm.get('currentTaskStatusID')?.errors?.['required']">
                        Please select the Status of the task.</span>
                </div>
            </div>
        </div>


        <div class="col-lg-12 border-top text-center">
            <div>
                <button class="btn btn-success btn-lg mt-2" type="submit" >Edit Task</button>
            </div>
            <a class="btn btn-info text-white btn-sm mt-1" [routerLink]=" [ '/employee', 'tasks' ] ">Back to Tasks</a>
        </div>

    </div>
</form>
