.project-card{
    margin-top: 1.5rem;
    height: 450px;
}
.disabled-input{
    cursor: default;
    border: none;
    box-shadow: none;
    background-color: #EEE;
}
.pagination .page-link {
    cursor: pointer;
}